<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="CastingCouch" Manufacturer="CastingCouch" Version="$(var.ProductVersion)" UpgradeCode="{EA074C62-3DDF-4149-ADA2-AECD7C6C485B}" Scope="perMachine">
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <MajorUpgrade DowngradeErrorMessage="Eine neuere Version der CastingCouch ist bereits installiert." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="CastingCouch" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="CastingCouch" />
    </StandardDirectory>
    <Feature Id="MainFeature" Title="CastingCouch" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentGroupRef Id="PublishedApplicationFiles" />
    </Feature>
    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
      </ComponentGroup>
    <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="{9DFAC23B-7B04-4F11-893A-86AE167D6773}">
      <Shortcut Id="StartMenuShortcut" Name="CastingCouch" Description="Streaming-Steuerzentrale" Target="[INSTALLFOLDER]CreatorControlSuite.exe" WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\CreatorControlSuite" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Package>
</Wix>